<div class="create-task-container">
  <form class="create-task-form" name="customTaskForm">
    Maintenance Name:
    <input type="text" ng-model="task.name">
    Start Date:
    <input type="date" ng-model="task.lastDate">
    Interval:
    <select ng-model="task.season">
      <option value="Monthly">Monthly</option>
      <option value="Quarterly">Quarterly</option>
      <option value="Biannually">Biannually</option>
      <option value="Annually">Annually</option>
      <option value="Custom">Custom</option>
    </select>
    <span class="custom-interval"  ng-show="task.season === 'Custom'">
      Days inbetween:
      <input type="number" ng-model="task.dayInterval">
    </span>
    Outdoor:
    <input type="checkbox" ng-model="task.outdoor">
    Notes:
    <textarea ng-model="task.notes" rows="8" cols="40"></textarea>
    <input type="button" value="add" ng-click="createTask(propertyId,task)">
  </form>
</div>
