<div class="edit-tasks-container">
  <div class="specific-task" ng-repeat="task in tasks">
    <div class="task">
      <div class="task-top-info">
        <div class="task-title">
          {{task.name}}
        </div>
      </div>
      <div class="task-bottom-info">
        <div class="task-left-info">
          <div class="task-last-date task-date-holder">
            <div class="task-date-title">
              Last Run:
            </div>
            <div class="task-date-info">
              {{task.lastdate}}
            </div>
          </div>
          <div class="task-next-date task-date-holder">
            <div class="task-date-title">
              Next Alert:
            </div>
            <div class="task-date-info">
              {{task.nextdate}}
            </div>
          </div>
        </div>
        <div class="task-right-info" ng-click="editFormVisibility = !editFormVisibility">
          <svg viewBox="0 0 60 30" ng-hide="editFormVisibility">
            <polyline points="0,0 30,30 60,0 54,0 30,24 6,0" style="fill:#B8B1B1" />
          </svg>
          <svg viewBox="0 0 60 30" ng-show="editFormVisibility">
            <polyline points="0,30 30,0 60,30 54,30 30,6 6,30" style="fill:#B8B1B1" />
          </svg>
        </div>
      </div>
    </div>


    <div class="specific-task-overlay" ng-show="taskOverlayVisibility">
      <div class="specific-task-overlay-button delete-task-button" ng-click="deleteTask(task.propertymaintenanceid)">
        DELETE
      </div>
      <div class="specific-task-overlay-button cancel-delete-task-button" ng-click="taskOverlayVisibility = !taskOverlayVisibility">
        CANCEL
      </div>
    </div>

    <edit-tasks-form ng-show="editFormVisibility" task="task" task-overlay-visibility="taskOverlayVisibility" edit-form-visibility="editFormVisibility"></edit-tasks-form>

  </div>


  <div class="add-new-task-container">
    <div class="add-new-task-toggler" ng-click="addFormVisibility = !addFormVisibility">
      + Add New Reminder
    </div>
    <form class="task-update-form" name="customTaskForm" ng-show="addFormVisibility">
      Maintenance Name:<br>
      <input type="text" ng-model="newTask.name" class="edit-task-form-input"><br>
      Start Date:<br>
      <input type="date" ng-model="newTask.lastDate" class="edit-task-form-input"><br>
      Interval:<br>
      <select ng-model="newTask.season" class="edit-task-form-select-input">
        <option value="Monthly">Monthly</option>
        <option value="Quarterly">Quarterly</option>
        <option value="Biannually">Biannually</option>
        <option value="Annually">Annually</option>
        <option value="Custom">Custom</option>
      </select><br>
      <span class="custom-interval"  ng-show="newTask.season === 'Custom'">
        Days inbetween:<br>
        <input type="number" ng-model="newTask.dayInterval" class="edit-task-form-number-input">
      </span><br>
      Outdoor:<br>
      <input type="checkbox" ng-model="newTask.outdoor"class="edit-task-form-checkbox-input "><br>
      Notes:<br>
      <textarea ng-model="newTask.notes" rows="8" class="customTaskForm-textarea"></textarea><br>
      <input type="button" value="add" ng-click="createTask(propertyId,newTask)" class="edit-task-form-submit-button">
    </form>
  </div>
</div>
