<section class='header-container'>
  <div class='menu-btn-box'>
    <button ng-click="toggleMenu()" class="menu-btn">
      <div class="" id="nav-icon3">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>
    </buton>
  </div>
  <div class="view-name-box">
    <div class="view-name">{{viewname}}</div>
  </div>
  <div ui-sref="home" ng-click="toggleMenu()" class="logo-box">
    <div class="logo-box-text-holder">
      hஇme
      <!-- ᚻᛰᛖᛊ -->
      <!-- h卍me -->
    </div>
  </div>
</section>




<div class="menu fade" ng-show="menuShowing">
  <ul class="menu-items-list" >
    <a ui-sref='login' ng-click="toggleMenu()"><li>login</li></br>
    <a ui-sref='properties' ng-click="toggleMenu()"><li>properties</li></a></br>
    <!-- <a ui-sref='mainAlerts' ng-click="toggleMenu()"><li>upcoming</li></a></br> -->
    <a ui-sref='userSettings' ng-click="toggleMenu()"><li>usersettings</li></a></br>
    <a ui-sref='contact' ng-click="toggleMenu()"><li>about</li></a>
    <a ui-sref='home' ng-click="toggleMenu()"><li><logout-directive></logout-directive></li></a>
  </ul>
</div>
