<section class='header-container'>
  <div class='menu-btn-box'>
    <button ng-click="toggleMenu()" class="menu-btn">menu</button>
  </div>
  <div class="view-name-box">
    <div class="view-name">{{viewname}}</div>
  </div>
  <div class="logo-box">
    <img class="logo-img" src="../../src/temp_logo.png"/>
  </div>
</section>

<div class="menu fade" ng-if="menuShowing">
  <ul id="menu-items-list">
    <li class="show-login" ng-click="showLogin()">login</li></br>
    <a ui-sref='properties' ng-click="toggleMenu()"><li>properties</li></a></br>
    <a ui-sref='mainAlerts' ng-click="toggleMenu()"><li>upcoming</li></a></br>
    <a ui-sref='userSettings' ng-click="toggleMenu()"><li>user settings</li></a></br>
    <a ui-sref='contact' ng-click="toggleMenu()"><li>about</li></a>
  </ul>
</div>






<div class="show-login" ng-click="showLogin()">
  Log In
</div>
<!-- <div class="show-signup" ng-click="showSignUp()">
  Sign Up
</div> -->
<div class="logout">
<logout-directive></logout-directive>
</div>


<!-- LOGIN MODAL -->
<login-directive></login-directive>
<!-- SIGN UP MODAL -->
<signup-directive></signup-directive>
