         <div class="main-container">
            <div class="login-container-container">
              <div class="login-container panel">
                <div class="panel-body">
                  <form name="loginForm" ng-submit="emailLogin()" novalidate>
                    <div class="form-group has-feedback" ng-class="{ 'has-error': loginForm.email.$invalid && loginForm.email.$dirty }">
                      <div class="credential submit-btn">
                        <input server-error class="form-control input-lg" type="text" name="email" ng-model="email" placeholder="Email" required autofocus>
                      </div>
                      <span class="ion-at form-control-feedback"></span>
                      <div class="help-block" ng-if="loginForm.email.$dirty" ng-messages="loginForm.email.$error">
                        <div ng-message="required">Please enter your email</div>
                        <div ng-message="server">{{errorMessage.email}}</div>
                      </div>
                    </div>
                    <div class="form-group has-feedback" ng-class="{ 'has-error': loginForm.password.$invalid && loginForm.password.$dirty }">
                      <div class="credential submit-btn">
                        <input server-error class="form-control input-lg" type="password" name="password" ng-model="password" placeholder="Password" required>
                      </div>
                      <span class="ion-key form-control-feedback"></span>
                      <div class="help-block" ng-if="loginForm.password.$dirty" ng-messages="loginForm.password.$error">
                        <div ng-message="required">Please enter your password</div>
                        <div ng-message="server">{{errorMessage.password}}</div>
                      </div>
                    </div>
                    <button type="submit" class="submit-btn login-btn" ng-disabled="loginForm.$invalid">Log in</button>
                    <br/>
                    <p class="text-center text-muted">
                      <div class="signup-or-separator">
                        <h6 class="text">or</h6>
                        <!-- <hr> -->
                      </div>
                      <div class="fb-signin submit-btn" ng-click="authenticate('facebook')">
                         Log in with Facebook
                      </div>
                      <div class="show-signup">
                        <div class="pull-left">Don't have an account yet?</div> <div class="pull-right" ui-sref="signup">Sign up</div>
                      </div>
                    </p>
                  </form>
                </div>
              </div>
            </div>
         </div>
