<div class="main-container">
  <h2>Property Settings</h2>

<div class="propertyToggles">
  text<div class="">
    <label class="switch">
     <input ng-model="propertyCheckBox.value1" type="checkbox" checked>
     <div class="slider round"></div>
    </label>
  </div>{{propertyCheckBox.value1}}

  <br><br>



  email<div class="">
    <label class="switch">
     <input ng-model="propertyCheckBox.value2" type="checkbox" checked>
     <div class="slider round"></div>
    </label>
  </div>{{propertyCheckBox.value2}}

  <br><br>


  weather<div class="">
    <label class="switch">
     <input ng-model="propertyCheckBox.value3" type="checkbox" checked>
     <div class="slider round"></div>
   </label>{{propertyCheckBox.value3}}
  </div>
</div>
