<section class="main-container">

<div class="createPropertyInputs">
<form class="" action="" method="post">
  <ul> Create New Property <br>
    <li><br>Property Name <br>
      <input class="input" ng-model="property.name" type="text" name="name" value=""></li> <br>

    <li>ZipCode <br>
      <input class="input" ng-model="property.zipcode" type="number" name="name" value=""></li> <br>

    <li>Type <br>
      <select ng-model="property.typeId" name="type_id">
      <option value="1">Anything</option>
      <option value="2">House</option>
      <option value="3">Apartment</option>
    </select>
    </li>
  </ul>
  <input   ng-click="send(property)" type="button" name="name" value="next">
</form>
</section>
</div>
