<div class="login-container backgroundImg">
  <div class="">
    <form class="marginBottom" ng-submit="signUp()">
      <div class="credential submit-btn">
        <input class="input-lg" ng-model="firstName" type="text" name="name" value="" placeholder="First name">
      </div>
      <div class="credential submit-btn">
        <input class="input-lg" ng-model="lastName" type="text" name="name" value="" placeholder="Last name">
      </div>
      <div class="credential submit-btn">
        <input class="input-lg" server-error ng-model="email" type="email"  required name="name" value="" placeholder="email" ng-messages="loginForm.email.$error">
      </div>
      <div class="credential submit-btn">
        <input class="input-lg" ng-model="password" type="password" name="name" value="" placeholder="password" ng-messages="loginForm.password.$error">
      </div>
      <div class="credential submit-btn">
        <input class="input-lg" ng-model="phone" type="tel"  required ng-keyup="phoneNumberStyle($event)"  placeholder="(XXX)XXX-XXXX" >
      </div>
      <div>
        <button class="submit-btn login-btn" type="submit" name="button" ng-disabled="loginForm.$invalid">Sign up</button>
      </div>
      <div ng-message="server">{{errorMessage.email}}</div>
    </form>
  </div>
</div>
