<section class="main-container">
  <form name="taskSelection" class="" ng-submit="createTasks(tasks)">
    <div class="" ng-repeat="task in tasks">
      <!-- {"id":1,"name":"Gease door and windows hinges.","type_id":1,"day_interval":365,"last_date":null,"season":"Spring","outdoor":false} -->
      <div class="task-container">
        <div class="task-name">
          {{task.name}}
        </div>
        <input type="checkbox"
              name="name"
              value={{task.id}}
              ng-model="task.selected">
      </div>
    </div>
    <input type="submit" value="Submit">
  </form>
</section>
