.about-app-container {
  background-color: #fff;
  height: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

.about-technology-image-container {
  width: 100%;
}

.about-technology-image-images {
  width: 90%;
  margin: auto;
}

.about-technology-image-images img {
  width:  31%;
}

.about-h2{
  font-size: $fontSize5;
  text-align: center;
  padding-top: 30px;
}

.about-p{
  font-size: $fontSize4;
  text-align: center;
  padding-top: 30px;
}

.about-technology-container{
  background-color: #fff;
}

.about-team-container{
  height: 100%;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-team-container img{
  border-radius: 50%;
  width: 75%;
  height: auto;
  padding-top: 40px;
}

.view-name{
  display: none;
}

.team-member-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.team-member-container h2 {
  font-size: $fontSize4;
  text-align: center;
}

.team-member-container p {
  font-size: $fontSize3;
  text-align: center;
}

.team-member-container svg {
  height: 100px;
  display: flex;
  justify-content: center;
  padding: 20px 20px 0 20px;
}

.svg-container {
  display: flex;
}

.repo-link {
  text-decoration: underline;
}
