.edit-tasks-container {
  margin-top: 80px;
}
.specific-task {
  width: 100%;
  margin: auto auto 40px auto;
  position: relative;
}

.task {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.task-top-info {
  width: 100%;
  padding: 30px;
  margin-bottom: 5px;
  background: rgba(255,255,255,1);
}

.task-title {
  font-size: $fontSize5;
}


.task-bottom-info {
  width: 100%;
  padding: 30px;
  background: rgba(255,255,255,1);
  display: flex;
  flex-direction: row;
  justify-content:flex-start;
  margin-bottom: 5px;
}

.task-left-info {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content:flex-start;
}

.task-date-holder {
  display: flex;
  flex-direction: column;
  justify-content:flex-start;
  text-align: left;
  margin-right: 90px;
}

.task-date-title {
  font-size: $fontSize3;
}
.task-date-info {
  font-size: $fontSize4;
}

.task-right-info {
  width: 20%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}



.task-update-form {
  position: relative;
  background: rgba(255,255,255,1);
  font-size: $fontSize4;
  padding: 30px;

  textarea {
    width: 98%;
    font-size: $fontSize2;
    border: 1px solid rgba(0,0,0,1);
    overflow-y: auto;
    height: $fontSize2*20;
  }
}
.task-update-form input:focus {
  outline-color: white;
}
.task-update-form textarea:focus {
  outline-color: $redBackground;
}

.edit-task-form-input {
  height: $boxHeight2;
  font-size: $fontSize3;
  color: white;
  background: $redBackground;
  width: 95%;
  margin:10px auto 10px auto;
}


.edit-task-form-select-input {
  height: $boxHeight2;
  font-size: $fontSize3;
  color: white;
  background: $redBackground;
  width: 25%;
  margin:10px auto 10px auto;
}

.edit-task-form-number-input {
  height: $boxHeight2;
  font-size: $fontSize3;
  color: white;
  background: $redBackground;
  width: 25%;
  margin:10px auto 10px auto;
}

.edit-task-form-checkboxes{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 30px;
}

.edit-task-form-checkbox-input {
  height: $boxHeight2;
  width: 95%;
  margin:10px auto 40px auto;
}

.edit-task-form-delete-button {
  height: $boxHeight3;
  width: 25%;
  background: red;
  color: white;
  font-size: $fontSize3;
  text-align: center;
  position: absolute;
  bottom: 30px;
  right: 30px;
}

.edit-task-form-submit-button {
  height: $boxHeight3;
  width: 25%;
  background: #2D8CFF;
  color: white;
  font-size: $fontSize3;
  text-align: center;
}

.specific-task-overlay {
  width: 100%;
  background-color: $redBackground;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.specific-task-overlay-button {
  color: white;
  font-size: 40px;
  cursor: pointer;
}

.add-new-task-container {
  width: 100%;
  background: rgba(255,255,255,1);
  margin: auto auto 40px auto;
}

.customTaskForm-textarea {
  margin-bottom: 40px;
}
