$taskBarHeight: 5vh;

.edit-tasks-container {
  margin-top: 40px;
}
.specific-task {
  width: 80%;
  margin: auto auto 40px auto;
}

.task {
  border: 1px solid blue;
  height: 10vh;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.task-left-info {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid red;
}

.task-top-info {
  width: 100%;
}

.task-title {
  font-size: 3rem;
}

.task-bottom-info {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content:flex-start;
}

.task-date-holder {
  display: flex;
  flex-direction: column;
  justify-content:flex-start;
  text-align: left;
  margin-right: 20px;
}

.task-date-title {
  font-size: 1.5rem;
}
.task-date-info {
  font-size: 2.5rem;
}

.task-update-form {
  border: 1px solid green;
  font-size: 33px;

  input {
    height: 30px;
    font-size: 29px;
    margin-bottom: auto auto 10px auto;
    border: 1px solid rgba(0,0,0,1);
    width: 98%;
  }
  select {
    height: 30px;
    font-size: 29px;
    margin-bottom: 10px;
    border: 1px solid rgba(0,0,0,1);
  }
  textarea {
    width: 98%;
    border: 1px solid rgba(0,0,0,1);
  }
}

.task-right-info {
  width: 20%;
  border: 1px solid yellow;
  background-color: red;
}


.add-new-task-container {
  width: 80%;
  height: 10vh;
  margin: auto auto 40px auto;
  border: 1px solid blue;
}
