a {
  text-decoration: none;
  color: black;
}
.header-container {
  position: fixed;
  top: 0px;
  left: 0px;
  float: left;
  height: 10vh;
  width: 100%;
  display: flex;
  z-index: 138;




  .menu-btn-box {
    //position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0px;
    left: 0px;
    width: 18%;
    height: 100%;
    overflow: hidden;
    background-color: lightgrey;

      .menu-btn {
        position: relative;
    font-size: 2.7rem;
    text-align: center;
    letter-spacing: 1.4px;
    font-family: $body-font;
    justify-content: center;
    align-items: center;
      }
    // flex-grow: 1;
  }

  .view-name-box {
    //position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 64%;
    height: 100%;
    background: $theme;
    // flex-grow: 3;
    .view-name {
      position: relative;
      font-size: 3.8rem;
      text-align: center;
      letter-spacing: 1.4px;
      font-family: $body-font;
      justify-content: center;
      align-items: center;
    }


  }
  .logo-box {
    //position: absolute;
    top: 0px;
    right:0px;
    width: 18%;
    height: 100%;
    overflow: hidden;
    background: $main;
    // flex-grow: 1
      .logo-img {

        max-width: 100%;
      }
  }
}
.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: space-around;
  background-color: rgba(193,186,234,0.9);
  position: absolute;
  top: 10vh;
  font-family: $body-font;


  height: 90vh;
  width: 100%;
  font-size: 3.8rem;

}

.fade.ng-enter {
  transition:.2s linear all;
  opacity:0;
}
.fade.ng-enter.ng-enter-active {
  opacity:1;
}
.fade.ng-leave {
  transition:.2s linear all;
  opacity:1;
}
.fade.ng-leave.ng-leave-active {
  opacity:0;
}
// .menu-items-list.menu-open-add {
//   transition:2s linear all;
//   opacity:0;
// }
// .menu-items-list.menu-open,
// .menu-items-list.menu-open-add-active   {
//   opacity:1;
// }
