.login-container-container{
  background-position: center center;
  background-image: url('../../../build/assets/grey_sky_house.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
}

.login-container {
  text-align: center;
  height: 90vh;
  display: flex;
  justify-content: flex-start;
  padding-top: 1.5rem;
}

.panel-body{
  display: flex;
  justify-content: center;
  // padding-bottom: 386px;
}

.credential {
  width: 80%;
  min-height: 3rem;
  margin: 0 auto 1rem auto;
  display: flex;
}

.input-lg {
  width: 100%;
  font-size: 1.7rem;
  border: 1px solid grey;
  font-family: $body-font;
  text-align: center;
}

.submit-btn{
  width: 80%;
  min-height: 3rem;
  margin: auto;
  font-family: $body-font;
  font-size: 1.7rem;
  color: white;
}

.login-btn{
  background-color: #DA4146;
  border: 1px solid #DA4146;
}

.fb-signin{
  border-color: #3B5998;
  background-color: #3B5998;
}

.signup-or-separator {
  // position: relative;
  height: 29px;
  margin: 1rem 0;
  text-align: center;
  background: none;
}

.signup-or-separator hr {
  width: 90%;
  margin: -16px auto 10px auto;
  // border-top: 1px solid #dce0e0;
}

.signup-or-separator .text {
  display: inline-block;
  padding: 8px;
  margin: 0;
  // background-color: #fff;
}

.show-signup{
  margin: 30px;
  display: flex;
  justify-content: space-between;
}

.pull-left{
  font-size: 21px;
}

.pull-right{
  background: rgba(255, 255, 255, 0);
  border: 1px solid #EF585D;
  border-radius: 28px;
  height: 36px;
  width: 91px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #EF585D;

}

h6.text{
  font-size: 21px;
}

.signup-form-container {
  width: 100%;
}
