.extra-margin{
  margin-top: 12vh;
}
.property-linkbox {
  width: 100%;
  background-color: white;
  margin-bottom: 1.5rem;
  font-size: $fontSize5;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .5rem 0 .5rem .5rem;
}
.img-size{
  max-width: 5vh;
}
.alerts-container {
  margin-top: 3rem;
}
.alert-specific-task {
  width: 100%;
  margin: auto auto 40px auto;
  position: relative;
}

.alert-task {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.alert-top {
  width: 100%;
  padding: 1rem;
  background: rgba(255,255,255,1);
  display: flex;
  flex-direction: row;
  justify-content: space-between;;
  margin-bottom: 5px;
}

.alerts-task-title {
  font-size: $fontSize5;
  display: flex;
  justify-content: space-between;
}


.alert-bottom {
  width: 100%;
  padding: 1rem;
  background: rgba(255,255,255,1);
  display: flex;
  flex-direction: row;
  justify-content:flex-start;
  margin-bottom: 5px;
}

.alert-left-name {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content:flex-start;
  font-size: $fontSize4;
}
.alert-right-arrow {
  width: 10%;
  height: 100%;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: 1rem;
}
.notes-popUp{
  width: 100%;
  padding: 1rem;
  background: rgba(255,255,255,1);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: $fontSize3;

}
.alert-notes{
  width: 100%;
  padding: 0 1rem 1rem 1rem;
  background: rgba(255,255,255,1);
  font-size: $fontSize3;
}
.done-button {
  padding: 10px;
  font-size: $fontSize3;
  color: white;
  background-color: $redBackground;
}
// .checkbox-wrap{
//   padding-right: 30px;
// }
.snooze{
  margin-right: 15px;
  padding: 10px;
  font-size: $fontSize3;
  color: white;
  background-color:#b20000;
}
.redAlert {
  background-color: #ff5a5f;
}
.done-darkred{
  background-color: #b20000;
}
