$propBoxHeight: 10vh;
$propBoxWidth: 100%;

.content-properties{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
  background-size: cover;
  background-position: center center;
}

.prop {
  position: relative;
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 40px;
  height: $propBoxHeight;
  width: $propBoxWidth;
  text-decoration: none;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.prop-primary-box {
  width: 100%;
  height: $propBoxHeight;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 1rem 0 1rem;
}

.prop-primary-box-centerer {
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.left-bracket {
  width: auto;
  height: auto;
  color: $background;
}

.prop-delete-button {
  position: absolute;
  right: 0;
  top: 0;
  cursor: pointer;
  background-color: red;
  height: $propBoxHeight;
  width: 15%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.prop-delete-confirm-container {
  position: absolute;
  top: 0;
  left: 0;
  height: $propBoxHeight;
  width: 100%;
  background-color: rgba(0,0,0,.8);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  z-index: 2;
}

.prop-delete-confirm-button {
  cursor: pointer;
  color: white;
  font-size: $fontSize3;
  padding: 30px;
}

.delete-confirm {
  background-color: red;
}
.delete-cancel {
  background-color: #2D8CFF;
}

.newProp{
  height: 10vh;
  border-style: dashed;
}

.float-right {
  float: right;
}
