.content-properties{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
  background-image: url('https://newevolutiondesigns.com/images/freebies/white-wallpaper-preview-18.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  

}
.prop {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  text-align: center;
  margin-bottom: 40px;
  height: 15vh;
  width: 80%;
  border: 1px solid red;
  text-decoration: none;
  background-color: #f9e7e7;
}
.newProp{
  height: 10vh;
}
