.backgroundImg{
  background-position: center center;
  background-image: url('../../../build/assets/grey_sky_house.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
}
.marginBottom{
  margin-bottom: 315px;
}
