
.user-settings-container {
  height: 100%;

}
.userPic-container {
  display: flex;
  justify-content: center;
  padding-top: 100px;
  margin-bottom: 80px;
}
.userPic {
  height: 350px;
  width: 350px;
}

.user-settings-edit-container {
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  border: 2px solid #dce0e0;
  margin-top: 2rem;
  font-size: $fontSize5;
  padding: .5rem;
}

.edit-arrow {
  display: flex;
  align-self: center;
  text-decoration: none;
  font-size: 38px;
}

.edit-dropdown {
  display: flex;
  background-color: #fff;
  border: 2px solid #dce0e0;
  font-size: $fontSize4;
  flex-direction: row;
  justify-content: space-between;
}

.submit-button {
  height: $boxHeight3;
  display: inline-block;
  font-size: $fontSize3;
  text-decoration: none;
  background: #2D8CFF ;
  color: white;
  padding: .5rem;
}

.edit-input {
  display: inline-block;
  font-size: $fontSize4;
  width: 70%;
}

.edit-box {
  margin-bottom: 80px;
}

.edit-arrow {
  width: 1.5rem;
  height: 1.5rem;
}
