<section class="main-container content-properties">
  <div class="">
 <input type="button" ui-sref="propertySettings({propertyId: propertyId})" name="name" value="Property Settings ">
  </div>


  <div ng-class="{'redAlert' : task.alertid }"class="prop newProp" ng-repeat="task in propertyTasks  | orderBy: ['nextdate', 'duedate']" >
    <div class="">
      {{task.name}}
    </div>
    <div class="">
      {{task.notes}}
    </div>
    <div ng-if="!task.alertid">
      NextDate: {{task.nextdate |date: shortDate}}
    </div>
    <div ng-if="task.alertid">
      DueDate: {{task.duedate |date: shortDate}}
    </div>
    <div class="">
      {{task.dayinterval}}
    </div>
    <div class="">
      <input type="button" ng-click="done(task.propertymaintenanceid, task.alertid)" name="name" value="DONE">
      <div ng-if="task.alertid">
        <input type="button" ng-click="snooze(task.alertid)" name="name" value="SNOOZE">
      </div>
    </div>
</div>


</section>
