<section class="main-container content-properties">
  <div class="">
 <input type="button" ui-sref="propertySettings({propertyId: propertyId})" name="name" value="Property Settings ">
  </div>

  <div class="prop newProp" ng-repeat="task in propertyTasks  | orderBy: 'nextdate'" >
    <div class="">
      {{task.name}}
    </div>
    <div class="">
      {{task.notes}}
    </div>
    <div class="">
      {{task.nextdate |date: shortDate}}
    </div>
    <div class="">
      {{task.duedate |date: shortDate}}
    </div>
    <div class="">
      {{task.dayinterval}}
    </div>
    <div class="">
      <input type="button" ng-click="done(task.propertymaintenanceid, task.alertid)" name="name" value="DONE">
      <input type="button" ng-click="snooze(task.alertid)" name="name" value="SNOOZE">
    </div>
</div>


</section>
