<section class="main-container extra-margin">
  <div class="property-linkbox" ui-sref="propertySettings({propertyId: propertyId})">
   Property Settings
   <img class="img-size"src="./src/img/cog.png" alt="" />
  </div>


  <div class="alerts-container">
    <div ng-class="{'redAlert' : task.alertid }" class="alert-specific-task" ng-repeat="task in propertyTasks  | orderBy: ['nextdate', 'duedate']">
      <div class="alert-task">
        <div class="alert-top" ng-class="{'redAlert' : task.alertid }">
          <div class="alerts-task-title">
            <div ng-if="!task.alertid" >
            {{task.nextdate |date: shortDate}}
            </div>
            <div ng-if="task.alertid" >
            {{task.duedate |date: shortDate}}
            </div>
            </div>
            <div class="checkbox-wrap">
              <input class="done-button" ng-class="{'done-darkred' : task.alertid }"type="button" ng-click="propDeleteConfirmVisiblity = !propDeleteConfirmVisiblity"; name="name" value="DONE">
            </div>
            <div ng-if="task.alertid">
              <input class="snooze" type="button" ng-click="propSnoozeConfirmVisiblity = !propSnoozeConfirmVisiblity"; name="name" value="SNOOZE">
            </div>

        </div>

        <div class="prop-delete-confirm-container" ng-show="propDeleteConfirmVisiblity">
          <input type="button" name="DELETE" value="DONE" class="delete-confirm prop-delete-confirm-button"  ng-click="done(task.propertymaintenanceid, task.alertid)">
          <input type="button" name="CANCEL" value="CANCEL" class="delete-cancel prop-delete-confirm-button" ng-click="propDeleteConfirmVisiblity = !propDeleteConfirmVisiblity">
        </div>
        <div class="prop-delete-confirm-container" ng-show="propSnoozeConfirmVisiblity">
          <input type="button" name="SNOOZE" value="DONE" class="delete-confirm prop-delete-confirm-button"  ng-click="snooze(task.alertid)">
          <input type="button" name="CANCEL" value="CANCEL" class="delete-cancel prop-delete-confirm-button" ng-click="propDeleteConfirmVisiblity = !propDeleteConfirmVisiblity">
        </div>
        <div class="alert-bottom">
          <div class="alert-left-name">
            <div class="task-last-date task-date-holder">
              {{task.name}}
            </div>
          </div>
          <div class="alert-right-arrow" ng-click="notesVisibility = !notesVisibility">
            <svg viewBox="0 0 60 30" ng-hide="notesVisibility">
              <polyline points="0,0 30,30 60,0 54,0 30,24 6,0" style="fill:#B8B1B1" />
            </svg>
            <svg viewBox="0 0 60 30" ng-show="notesVisibility">
              <polyline points="0,30 30,0 60,30 54,30 30,6 6,30" style="fill:#B8B1B1" />
            </svg>
          </div>
        </div>
        <div class="" ng-show="notesVisibility">
          <div class="notes-popUp">
            <div class="">
              Notes:
            </div>
          <div class="">
            Interval {{task.dayinterval}}
          </div>
        </div>
        <div class="alert-notes">
          {{task.notes}}
        </div>
        </div>
      </div>
    </div>
  </div>



</section>
