
<section class="main-container content-properties">

  <div class="prop" ng-repeat="prop in properties" ng-swipe-left="propDeleteButtonVisibility = true" ng-swipe-right="propDeleteButtonVisibility = false">
    <div class="prop-primary-box" ui-sref="mainAlerts({propertyId: prop.id})">
      <div class="prop-primary-box-centerer">
        <div>{{prop.name}}</div>
        <div class="left-bracket">
          <svg viewBox="0 0 30 60" ng-hide="editFormVisibility">
            <polyline points="30,0 0,30 30,60 30,54 6,30 30,6" style="fill:#B8B1B1" />
          </svg>
        </div>
      </div>
    </div>
    <div class="prop-delete-button" ng-show="propDeleteButtonVisibility" ng-click="propDeleteConfirmVisiblity = !propDeleteConfirmVisiblity; propDeleteButtonVisibility = !propDeleteButtonVisibility">
      <svg viewBox="0 0 60 60">
        <line x1="10" y1="10" x2="50" y2="50" stroke="white" stroke-width="10" />
        <line x1="10" y1="50" x2="50" y2="10" stroke="white" stroke-width="10" />
      </svg>
    </div>
    <div class="prop-delete-confirm-container" ng-show="propDeleteConfirmVisiblity">
      <input type="button" name="DELETE" value="DELETE" class="delete-confirm prop-delete-confirm-button" ng-click="deleteProperty(prop.id)">
      <input type="button" name="CANCEL" value="CANCEL" class="delete-cancel prop-delete-confirm-button" ng-click="propDeleteConfirmVisiblity = !propDeleteConfirmVisiblity">
    </div>
  </div>
  <div class="prop newProp" ui-sref="createProperty">
      + add new property
  </div>

</section>
